html{
  direction: ltr;
}

body{
  background-color: #F4F4F3;
  color: #747474;
  margin: 20px;
}

h1{
  text-align: center;
  color: #FAF5E1;
  text-shadow: 1px 1px 2px black, 0 0 20px yellow, 0 0 5px darkblue;
}
