---
layout: default
title: Jongwon
---


<!-- paginated posts -->
<!--
{% for post in paginator.posts %}

    <p id="animlist">
      <span>{{ post.date | date: "%B %e, %Y" }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </p>

{% endfor %}
-->

<ul class="post-list">
  {% for post in paginator.posts %}
    <li id="animlist">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h4>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h4>
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">

  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" id="previous"><span> 이전</span></a>
  {% else %}
  <span>이전</span>
  {% endif %}
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" id="next"><span>다음 </span></a>
  {% else %}
  <span>다음</span>
  {% endif %}

</div>
