<header class="nav">

  <ul>
    <span class="title"><h1 class="animated rubberBand">{{ page.title }}</h1></span>

    <div class="home">
      <a href="/"><img style="width:0; height:0; padding:28px 35px;" id="lemon"></img></a>
    </div>

    <div class="dropdown">Document
      <div class="dropdown-content">
        <li><a href="/docs/database/">Database</a></li>
        <li><a href="/docs/codingthematrix/">Coding the Matrix</a></li>
      </div>
    </div>

    <div class="dropdown"><a style="text-decoration:none;color:#F4F4F3;" href="{{ page.intro.url}}">About ME</a></div>
  </ul>

</header>
