---
layout: default
title: Posts
---

{% for post in site.tags.python %}

<article class="post">
  <div class="post-set">
    <header class="post_header" id="animlist">
      <div class="post-meta">
        <time>{{ post.date | date: "%b %-d, %Y" }}</time>
      </div>
      <h4 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
    </header>
    <section class="post-excerpt">
      <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
    </section>
  </div>

  {% if post.tags.size > 0 %}
  <div class="post-tags">
    {% for tag in post.tags %}
      <a id="tag" href="/blog#{{ tag }}">
          <img src="//img.shields.io/badge/Tag-{{ tag | capitalize }}-orange.svg" alt="{{ tag }}" />
      </a>
    {% endfor %}

    {% if post.progress.size > 0 %}
      <img src="//img.shields.io/badge/In%20Progress-{{ post.progress }}%-green.svg" />
    {% endif %}
  </div>
  {% endif %}

</article>

{% endfor %}
