---
layout: default
title: Posts
---

{% for post in site.posts %}
<article class="post">
    <header class="post_header" id="animlist">
      <div class="post-meta">
        <time>{{ post.date | date: "%b %-d, %Y" }}</time>
      </div>
      <h4 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h4>
    </header>
  <section class="post-excerpt">
    <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
  </section>
</article>
{% endfor %}

<!-- Pagination links >
<div class="pagination">

  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" id="previous"><span> 이전</span></a>
  {% else %}
  <span>이전</span>
  {% endif %}
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" id="next"><span>다음 </span></a>
  {% else %}
  <span>다음</span>
  {% endif %}

</div-->